<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AfterEffectPlayer Demo</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" media="screen">
    <link rel="stylesheet" href="./css/example.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://s2.pstatp.com/cdn/element-ui/2.15.0/theme-chalk/index.min.css">
    <script src="./dist/AfterEffectPlayer.js"></script>
    <script src="./js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://s1.pstatp.com/cdn/element-ui/2.15.0/index.min.js"></script>
    <script src="./js/polyfill.js"></script>
    <script src="./js/Vue-AfterEffectPlayer.js"></script>
</head>

<body>
    <div id="app" :class="{black: isPlayed}">
        <transition name="fade">
            <aftereffect-player class="player" v-if="isPlayed" :url="url" :title="title" :config="playerConfig" @watchfps="watchfps" @onended="onended" />
        </transition>
        <div v-if="!isPlayed" style="text-align: center; padding-top: 20px;">
            <p>
                Resolution：
                <el-input-number
                    v-model="playerConfig.resolution"
                    :max="4"
                    :min="0.1"
                >
                </el-input-number>
            </p>
            <p>
                Antialias:
                <el-radio v-model="playerConfig.antialias" :label="true">enable</el-radio>
                <el-radio v-model="playerConfig.antialias" :label="false">disable</el-radio>
            </p>
            <p>
                AutoDensity:
                <el-radio v-model="playerConfig.autoDensity" :label="true">enable</el-radio>
                <el-radio v-model="playerConfig.autoDensity" :label="false">disable</el-radio>
            </p>
            <p>
                <el-upload
                    action=""
                    :limit="1"
                    ref="upload"
                    accept="audio/*"
                    :auto-upload="false"
                    :on-change="onSelectedFile"
                    :on-remove="handleRemove"
                >
                    <el-button slot="trigger" size="small" type="primary">Select File</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success" @click="playMusic">Play</el-button>
                </el-upload>
            </p>
        </div>
        <!-- <div id="fps" v-if="isPlayed">FPS: {{FPS}}</div> -->
    </div>
</body>
<script src="./js/example.js"></script>

</html>
