{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
              "last 2 versions",
              "not ie <= 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
