body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(http://orlfnhziv.bkt.clouddn.com/AfterEffect-player-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff
}

strong {
    color: #F90;
}

.SRC {
    display: block;
}

.loadurl {
    display: none;
}

.fileWrapper, .layout {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.fileWrapper {
    text-align: center;
}

.dragContainer {
    height: 6vw;
    line-height: 6vw;
    margin: 1vw 0;
    border: 0.1vw #fff dashed;
}

.requirements-container {
    background: rgba(0, 0, 0, .5);
}

.requirements-list {
    overflow: hidden;
    height: 0px;
}

.requirements-container:hover .requirements-list {
    height: 100%;
}

.player {
    display: none;
}

.layout {
    display: none;
    max-width: 35%;
}

.layout-title {
    text-align: center;
    font-size: 2vw;
}

.layout-process {
    position: relative;
    overflow: visible;
    height: 4vw;
    width: 100%;
    margin: 2vw 0;
    cursor: pointer;
    user-select: none;
}

.layout-time {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    flex: none;
}

.layout-time > div {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.layout-time span {
    margin: 1vw;
    font-size: 2.2vw;
}

.layout-time-REMAINED {
    float: right;
}

.FPS {
    display: none;
    position: fixed;
    top: 1vw;
    left: 1vw;
    z-index: 9999;
}